
<nav class="navbar navbar-dark bg-primary">
        <div class="nav-item active pull-right">
    <a class="navbar-brand" routerLink="/select" routerLinkActive="active">Create</a>
    </div>
    <div class="nav-item active pull-right">
    <a class="navbar-brand" routerLink="/user" routerLinkActive="active">Invite</a>
    </div>
</nav>
<router-outlet></router-outlet>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<html>
  <body>
    <div class="area"></div><nav class="main-menu">      
            <div class="profile-info">
                    <div class="user-img">
                             <img src="../assets/user.jpg" alt="user" />
                    </div>
            <br/>
            <p>LetsChat</p>
            </div>
            <ul>            
                <li>
                    <a href="http://justinfarrow.com">
                        <i class="fa fa-user" style="font-size:20px ; color:rgb(247, 44, 145)"></i>
                        <span class="nav-text">
                            Profile 
                        </span>
                    </a>               
                </li>
                <li class="has-subnav">
                <div class="container">
                    <div class="row">
                          <div class="search">
                          <input type="text" class="form-control input-sm" maxlength="64" placeholder="Search" />
                          <button type="submit" class="btn btn-primary btn-sm">Search</button>
                          </div>
                    </div>
                </div>
                </li>
                <br />
                <li class="has-subnav">
                    <a href="#">
                        <i class="fa fa-users" style="font-size:20px ; color:rgb(247, 44, 145)"></i>
                        <span class="nav-text">
                         Users
                        </span>
                    </a>               
                </li>
                <li class="has-subnav">
                        <a href="/chat">
                            <i class="fa fa-comments" style="font-size:20px ; color:rgb(247, 44, 145)"></i>
                            <span class="nav-text">
                             One to One
                            </span>
                        </a>               
                    </li>
                    <li class="has-subnav">
                            <a href="/group">
                                <i class="fa fa-comments" style="font-size:20px ; color:rgb(247, 44, 145)"></i>
                                <span class="nav-text">
                                 Group Chat
                                </span>
                            </a>               
                        </li>
            </ul>
            <ul class="logout">
                    <li>
                            <a href="/user">
                                  <i class="fa fa-sign-in" style="font-size:20px ; color:rgb(51, 255, 0)"></i>
                                 <span class="nav-text">
                                     Sign in
                                 </span>
                             </a>
                         </li>  
                <li>
                   <a href="#">
                         <i class="fa fa-power-off" style="font-size:20px ; color:rgb(51, 255, 0)"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li>  
            </ul>
        </nav>
  </body>
  </html>