
        
<div class="container-fluid" style="position:absolute; right:700px; top:50px;">
        <div id="userFormArea" class="row">         
        <div class="card body">
        <div class="col-md-75">
                <form id="userForm">
                        <div class="form-group">
                            <label>Username</label>
                            <input class="form-control" id="Email" placeholder="Username">  
                            <br />
                            <label>Password</label>
                            <input class="form-control" id="username" placeholder="Password">                                  
                            <br />
                            <input type="submit" class="btn btn-primary" value="Sign in">
                        </div>
                </form>
        </div>  
        </div>  
        </div>
</div>
    